header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  font-size: 2rem;
  border-bottom: 0.3rem solid var(--font-color);
}

nav * {
  font-size: inherit;
}

.nav-buttons button {
  background-color: inherit;
  border: none;
  margin-left: 2rem;
  cursor: pointer;
}

.nav-buttons button:hover {
  text-decoration: underline;
}

.nav-buttons button:focus {
  text-decoration: underline;
}
